body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:715px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:73px;
  top:91px;
  width:1214px;
  height:715px;
}
#u1 {
  position:absolute;
  left:2px;
  top:350px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:194px;
  top:150px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1048px;
  top:155px;
  width:140px;
  height:34px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5 {
  position:absolute;
  left:144px;
  top:271px;
  width:759px;
  height:166px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u8 {
  position:absolute;
  left:91px;
  top:0px;
  width:91px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u10 {
  position:absolute;
  left:182px;
  top:0px;
  width:91px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u12 {
  position:absolute;
  left:273px;
  top:0px;
  width:91px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u14 {
  position:absolute;
  left:364px;
  top:0px;
  width:106px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u16 {
  position:absolute;
  left:470px;
  top:0px;
  width:112px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
}
#u18 {
  position:absolute;
  left:582px;
  top:0px;
  width:172px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:30px;
  width:91px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u22 {
  position:absolute;
  left:91px;
  top:30px;
  width:91px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u24 {
  position:absolute;
  left:182px;
  top:30px;
  width:91px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u26 {
  position:absolute;
  left:273px;
  top:30px;
  width:91px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u28 {
  position:absolute;
  left:364px;
  top:30px;
  width:106px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u30 {
  position:absolute;
  left:470px;
  top:30px;
  width:112px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:36px;
}
#u32 {
  position:absolute;
  left:582px;
  top:30px;
  width:172px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:95px;
}
#u34 {
  position:absolute;
  left:0px;
  top:66px;
  width:91px;
  height:95px;
}
#u35 {
  position:absolute;
  left:2px;
  top:40px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:95px;
}
#u36 {
  position:absolute;
  left:91px;
  top:66px;
  width:91px;
  height:95px;
}
#u37 {
  position:absolute;
  left:2px;
  top:40px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:95px;
}
#u38 {
  position:absolute;
  left:182px;
  top:66px;
  width:91px;
  height:95px;
}
#u39 {
  position:absolute;
  left:2px;
  top:40px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:95px;
}
#u40 {
  position:absolute;
  left:273px;
  top:66px;
  width:91px;
  height:95px;
}
#u41 {
  position:absolute;
  left:2px;
  top:40px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:95px;
}
#u42 {
  position:absolute;
  left:364px;
  top:66px;
  width:106px;
  height:95px;
}
#u43 {
  position:absolute;
  left:2px;
  top:40px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:95px;
}
#u44 {
  position:absolute;
  left:470px;
  top:66px;
  width:112px;
  height:95px;
}
#u45 {
  position:absolute;
  left:2px;
  top:40px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:95px;
}
#u46 {
  position:absolute;
  left:582px;
  top:66px;
  width:172px;
  height:95px;
}
#u47 {
  position:absolute;
  left:2px;
  top:40px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:722px;
  top:210px;
  width:167px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:917px;
  top:210px;
  width:86px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:767px;
  top:314px;
  width:29px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:839px;
  top:314px;
  width:29px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:731px;
  top:314px;
  width:29px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:802px;
  top:314px;
  width:29px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
